
#circlegame {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: red;
}

.buttongame{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}